doctype html

html
  head
    meta(charset='UTF-8')
    title Settings
    style.
      body { width: 500px; }

  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
    script(src=env == 'prod' ? '/js/settings.bundle.js' : 'http://localhost:3000/js/settings.bundle.js')
